@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>C# Markdown Builder</h1>

<p>
    <a asp-page="Analyze" class="btn btn-primary">Analyze Solution</a>
</p>

<p>
    <a asp-page="SolutionBrowser" class="btn btn-primary">Solution Browser</a>
</p>